---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import Backlink from '../../components/backlink.astro';

export async function getStaticPaths() {
  const mysteries = await getCollection('cosmos');
  return mysteries.map((mystery) => ({
    params: { slug: mystery.id.replace(/\.(md|mdx)$/, '') },
    props: mystery,
  }));
}

type Props = CollectionEntry<'cosmos'>;

const cosmos = Astro.props;
const { Content } = await render(cosmos);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={`${cosmos.data.title} | Cosmo`} description={cosmos.data.description} />
  </head>
  <body>
    <Header />
    <main>
      <article>
        <h1>{cosmos.data.title}</h1>
        <time datetime={cosmos.data.pubDate.toISOString()}>
          {cosmos.data.pubDate.toLocaleDateString('en-US', {
            year: 'numeric',
            month: 'long',
            day: 'numeric',
          })}
        </time>
        
        {cosmos.data.heroImage && (
          <img 
            src={cosmos.data.heroImage.src} 
            alt="" 
            width={cosmos.data.heroImage.width}
            height={cosmos.data.heroImage.height}
            loading="lazy"
            decoding="async"
          />
        )}
        
        <div class="content">
          <Content />
          <Backlink collection="cosmos" currentSlug={cosmos.id}/>

        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>

<style>
  article {
    max-width: 65ch;
    margin: 0 auto;
    padding: 2rem 1rem;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }
  
  time {
    color: var(--theme-text-light);
    display: block;
    margin-bottom: 2rem;
  }
  
  :global(h2) {
    margin-top: 3rem;
  }
  
  :global(p) {
    line-height: 1.6;
    margin: 1.5rem 0;
  }
</style>
